return
{

 'aleph_x_server' => 'http://aleph.someserver.net/X?',
 'aleph_library' => 'XXXXX',
 'debug' => 0,
 'libraries' => {

   'EXAMPLE01' => {
   	   'url' => 'https://voyager.someserver.net/getHoldings.cgi?'
   },

   'EXAMPLE02' => {
   	   'url' => 'https://voyager.someserver2.net/getHoldings.cgi?',
	   'finna_url' => 'https://finna.someserver2.net/Record/example',
	   'type' => 'finna'
   }

 }

};